/* Styles specific to App.js */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/index.css or src/App.css */
:root {
  --primary: #4a6fa5;
  --secondary: #e78188;
  --background: #111827;
  --sidebar: #1f2937;
  --text: #f3f4f6;
  --textSecondary: #9ca3af;
  --border: #374151;
  --codeBackground: #374151;
  --codeText: #f3f4f6;
  --activeNav: #172554;
  --activeNavText: #93c5fd;
  --hoverNav: #374151;
}
